# Database connection from Railway
DATABASE_URL=

# Port number (you can keep it as 3000)
PORT=3000

# Your frontend domain (Netlify or localhost)
FRONTEND_URL=http://localhost:5173

# Optional
NODE_ENV=development

